@-webkit-keyframes scrollUpHide {
	from {top: 0;}
	to {top: calc(-100% - 50px);}
}
@keyframes scrollUpHide {
	from {top: 0;}
	to {top: calc(-100% - 50px);}
}
@-webkit-keyframes scrollDownHide {
	from {top: 0;}
	to {top: calc(100% + 50px);}
}
@keyframes scrollDownHide {
	from {top: 0;}
	to {top: calc(100% + 50px);}
}

.about .content {
	text-align: left;
	padding: 50px;
	overflow: hidden;
}
.about-top {
	width: 80%;
	margin-bottom: 30px;
}
.about-top > p {
	color: #e1542c;
	font-size: 16.5pt;
	text-transform: uppercase;
	letter-spacing: .142em;
	line-height: 1.44;
}
.about .content h2 {
	letter-spacing: .01em;
	line-height: 1.12;
}
.about-top div p {
	letter-spacing: .01em; 
	line-height: 1.2;
}
.about-bottom .float-left {
	font-size: 12pt;
	letter-spacing: .142em;
}
.about-bottom a {
	color: #e1542c;
	font-weight: 600;
	letter-spacing: .142em;
	line-height: 50px;
}
.about-bottom button {
	font-family: 'League Gothic', sans-serif;
	border: none;
	letter-spacing: .142em;
	line-height: 1.44;
	font-size: 18pt;
	color: #fff;
	background-color: #262e34;
	width: 15vw;
	min-width: 90px;
	height: 50px;
	border-radius: 10px;
	margin-left: 2vw;
}
#about-mission,
#about-vision {
	display: none;
}
#about-vision .about-top > div {
	padding: 15px;
}
#about-vision h3 {
	font-family: 'League Gothic', sans-serif;
	font-size: 21pt;
	/*font-weight: 600;*/
	color: #e1542c;
	letter-spacing: 1;
	line-height: 1.12;
	text-transform: uppercase;
}
#about-vision .about-top > div p {
	text-align: justify;
	line-height: 1;
	letter-spacing: 1;
}
.scroll-up-hide,
.scroll-down-hide {
	position: relative;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
}
.scroll-up-hide {
	-webkit-animation-name: scrollUpHide;
	        animation-name: scrollUpHide;
}
.scroll-down-hide {
	-webkit-animation-name: scrollDownHide;
	        animation-name: scrollDownHide;
}

@media only screen and (max-width: 768px) {
	.about-top {
		width: 100%;
	}
	.about-bottom button {
		margin: 0 2vw 0 0;
	}
	#about-vision h3 {
		margin-top: 25px;
	}
}

.bounce-up {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, -200px, 0px);
  -webkit-transform: translate3d(0px, -200px, 0px);
  -o-transform: translate(0px, -200px);
  -ms-transform: translate(0px, -200px);
  transform: translate3d(0px, -200px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bounce-up.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}