.faqs > div {
	height: calc(100vh - 100px);
}
.faqs .clearfix {
	margin-bottom: 12px;
}
.faqs .left,
.faqs .right {
	padding-right: 5%;
}
.faqs .num {
	font-family: 'League Gothic', sans-serif;
	font-size: 22pt;
	color: #e1542c;

	width: 12%;
	line-height: 1.4;
	letter-spacing: .18em;

	transition: font-size 0.5s;
}
.faqs .num:hover {
	font-size: 36pt;
	cursor: pointer;
}
.faqs .num,
.faqs .q {
	float: left;
}
.faqs .q {
	width: 88%;
	font-size: 14pt;
	line-height: 1;
	letter-spacing: -0.01em;
	padding-top: 6px;
}
.faqs [id^="faq-"] h3 {
	font-family: 'League Gothic', sans-serif;
	font-size: 22pt;
	letter-spacing: .1em;
	color: #e1542c;
}
.faqs .faqq {
	font-family: 'League Gothic', sans-serif;
	font-size: 28pt;
	letter-spacing: .05em;
	padding: 0 5% 16px 0;
}
.faqs .faqa {
	letter-spacing: .1em;
}
#faq-00 {
	display: flex;	
}
.faqs [id^="faq-"] {
	display: none;
	flex-wrap: wrap;
}

.faqsBtn {
	font-family: 'League Gothic', sans-serif;
	font-size: 18pt;
	letter-spacing: .142em;
	width: 150px;
	color: #fff;
	background-color: #262e34;
	border-radius: 10px;
	padding: 12px 38px;
}
.faqsBtn:hover {
	color: #e1542c;;
}