#home + .home {
	background: url('../images/Home Page Image.jpg') no-repeat 50% -10px;
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	margin-top: 100px;
	position: relative;
}
.home:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(222,222,222,.7);
}

@media only screen and (max-width: 767px) {
	#home + .home {
		background: url('../images/Home Page Image Portrait.jpg') no-repeat 50% -10px;
		background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	}
}