nav.navbar {
	background-color: #262e34;
	font-size: 16pt;
	height: 100px;
	padding: 0;
	z-index: 2;
}
nav.navbar .navbar-brand {
	padding: 5px 16px;
	background-color: #fff;
	height: 100%;
	margin-right: 0;
}
#my-navbar .navbar-nav a {
	color: #fff;
	margin-right: 1vw;
}
#my-navbar li.active a {
	color: #e1542c;
	font-weight: 600;
}
#my-navbar a:hover {
	color: #e1542c;
}
.navbar-toggler {
	margin-right: 2vw;
}
#collapsibleNavbar {
	background-color: #262e34;
}
.navbar-collapse {
	padding: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 920px) {
	#my-navbar .navbar-nav a {
		font-size: 12pt;
	}
}