.process .content > div:nth-child(odd) {
	text-align: center;
	height: calc(100vh - 100px);
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    align-content: center;
} 
.process-num {
	font-family: 'League Gothic', sans-serif;
	text-transform: uppercase;
	font-size: 28.5pt;
	color: #e1542c;
	letter-spacing: .17em;
	line-height: 1.4;
}
.process h2 {
	letter-spacing: .06em;
}
[id^="process0"] {
	margin-bottom: 100px;
	position: relative;
	top: -100;
}

.process .content img {
    width: 6.63vw;
    margin-top: 20px;
}