.projects .content {
	height: calc(100vh - 100px);
}

.project-img {
	width: 305px;
	height: 305px;
	position: relative;
	text-align: center;
}
.project-img-1 {
	background: url("../images/slideshow/Frank and Dean/1.jpg") no-repeat center center;
	background-size: cover;
}
.project-img-2 {
	background: url("../images/slideshow/Amberland Plaza/2.jpg") no-repeat center center;
	background-size: cover;
}
.project-button {
	font-family: 'League Gothic', sans-serif;
	width: 150px;
	height: 50px;
	background-color: #262e34;
	color: #e1542c;
	font-size: 18pt;
	letter-spacing: .142em;
	text-transform: uppercase;
	border-radius: 10px;
	line-height: 50px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#comm-1 > div,
#comm-2 > div,
#res-1 > div {
	padding: 0 5px;
}
#commercial {
	position: relative;
}
#commercial::before {
	content: "";
	position: absolute;
	height: 100px;
	width: 100%;
	top: -100px;
}
#commercial .thumbnail {
	max-width: 100%;
	max-height: 100%;
}

#residential .thumbnail {
	max-width: 100%;
	max-height: 500px;
}

.projects a[href^="#comm-"] img {
    width: 6.63vw;
    margin-top: 20px;
}

.projects .details h2 {
	line-height: .9;
	margin-bottom: 35px;
	font-family: 'League Gothic', sans-serif;
	text-transform: uppercase;
	font-size: 56pt;
	color: #262e34;
}

.projects .details p {
	text-transform: uppercase;
	letter-spacing: .3em;
	font-size: 12pt;
}

.projects .carousel,
.projects .carousel-inner,
.projects .carousel-item {
	height: 100%;
}

.project-row {
	height: calc(100vh - 100px);
	min-height: 350px;
}

.projects .carousel {
	padding: 25px 55px;
}

.projects .carousel-item img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.projects a[class^="carousel-control-"] {
	width: 50px;
}
.projects a[class^="carousel-control-"] img {
	width: 100%;
}

@media only screen and (max-width: 767px) {
	.projects .project-img-1,
	.projects .project-img-2 {
		margin: 0 auto;
	}
}

@media only screen and (min-width: 768px) {
    .projects .project-img-1 {
    	margin-left: auto !important;
    }
    .projects .project-img-2 {
    	margin-right: auto !important;
    }
}