.services {
	padding: 0 45px 50px 45px;
	min-height: 394px;
}
.services > .content > .row > div {
	padding: 0 7.5px;
}
.service-title, 
.service-description {
	background-color: #fff;
	padding: 15px 10px;
	text-align: center;
}
.service-title {
	font-size: 16pt;
	color: #e1542c;
	font-weight: 600;
	margin-bottom: 15px;
	-webkit-box-flex: 0;
	    	-ms-flex: 0 1 auto;
	      		flex: 0 1 auto;
}
.service-description {
	/*height: auto;*/
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
}
.service-description p {
	line-height: 1;
}

@media only screen and (max-width: 767px) {
	.services > .content > .row > div {
    	margin-top: 50px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .services > .content > .row > div:nth-child(3), 
    .services > .content > .row > div:nth-child(4) {
    	margin-top: 50px;
    }
}