@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

@font-face {
    font-family: 'League Gothic';
    src: url('../webfonts/leaguegothic-regular-webfont.eot');
    src: url('../webfonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../webfonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../webfonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'PT Sans', sans-serif;
    min-width: 320px;
    background-color: #d9d9d9;
    color: #000;
}

section.row {
    text-align: center;
}
section.row-y-center {
    height: calc(100vh - 100px);
}
.content h2 {
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 56pt;
    color: #262e34;
}
.content p {
    font-size: 12pt;
}

.hash {
    position: relative;
    top: -100px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

@media only screen and (min-width: 768px) {
    .content,
    .content [class^="col-"] {
        padding: 0;
    }
}